<div class ="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">ユーザー検索</h3>
    </div>
    <div class="panel-body">
      <div class="form-horizontal" role="form">
        <%= form_tag ({controller: :profiles ,action: :search}  ) do%>
          <div class="form-group">
            <div class= "field">
              <%= label_tag :address, '地域' , class: "col-sm-2 control-label"%>
              <div class="col-sm-10">
                <%= text_field_tag :address ,@address%>
              </div>
            </div>
          </div>
          <% if current_user.profile.sex == 'female'%>
          <div class="form-group">
            <div class= "field">
              <%= label_tag :sex,"性別" ,class: "col-sm-2 control-label"%>
              <div class=" col-sm-1">

                <% if @sex == 'male'%>
                  <label><%= radio_button_tag :sex, "male", :checked => "true" %>男性</label>
                <%else%>
                  <label><%= radio_button_tag :sex, "male" %>男性</label>
                <%end%>
              </div>
              <div class="col-sm-1">
                <% if @sex == 'female'%>
                  <label ><%= radio_button_tag :sex, "female",:checked => "true"%>女性</label>
                <%else%>
                  <label ><%= radio_button_tag :sex, "female"%>女性</label>
                <%end%>
              </div>
            </div>
          </div>
          <%end%>
          <div class="form-group">
            <div class= "field">
              <%= label_tag :muscle_id, '筋肉', class: "col-sm-2 control-label"%>
              <% if @muscle_id == nil || @muscle_id == ""%>
                <%= collection_select(:muscle ,:muscle_id, Muscle.last(11), :id, :part,prompt: "" )%>
              <% else%>
                  <%= collection_select(:muscle ,:muscle_id, Muscle.last(11), :id, :part,prompt: Muscle.find(@muscle_id).part,:include_blank => true )%>
              <%end%>
            </div>
          </div>
          <div class="form-group">
            <div class="slider_field">
              <%= label_tag :age,"年齢" ,class: "col-sm-2 control-label"%>
              <div class="col-sm-1">
                <%= text_field_tag :min_age, @min_age ,:size => '2' %>
              </div>
              <div class="col-sm-4">
                <div id="slider_age"></div>
              </div>
              <div class="col-sm-1 " >
                <%= text_field_tag :max_age, @max_age ,:size => '2'%>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="slider_field">
              <%= label_tag :weight,"ベンチプレス" ,class: "col-sm-2 control-label"%>
              <div class="col-sm-1">
                <%= text_field_tag :min_weight_bench, @min_weight_bench ,:size => '2' %>
              </div>
              <div class="col-sm-4">
                <div id="slider_bench"></div>
              </div>
              <div class="col-sm-1 " >
                <%= text_field_tag :max_weight_bench, @max_weight_bench ,:size => '2'%>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="slider_field">
              <%= label_tag :weight,"フルスクワット" ,class: "col-sm-2 control-label"%>
              <div class="col-sm-1">
                <%= text_field_tag :min_weight_full, @min_weight_full ,:size => '2' %>
              </div>
              <div class="col-sm-4">
                <div id="slider_full"></div>
              </div>
              <div class="col-sm-1 " >
                <%= text_field_tag :max_weight_full, @max_weight_full ,:size => '2'%>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="slider_field">
              <%= label_tag :weight,"デッドリフト" ,class: "col-sm-2 control-label"%>
              <div class="col-sm-1">
                <%= text_field_tag :min_weight_ded, @min_weight_ded ,:size => '2' %>
              </div>
              <div class="col-sm-4">
                <div id="slider_ded"></div>
              </div>
              <div class="col-sm-1 " >
                <%= text_field_tag :max_weight_ded, @max_weight_ded ,:size => '2'%>
              </div>
            </div>
          </div>
          <script>
          $('#slider_age').slider({
            values:  [<%= @min_age %>,<%= @max_age %>],
            min: 18,
            max: 100,
            step: 1,
            range: true,
            animate: 'slow',
            slide: function(event, ui){
              $('#min_age').val(ui.values[0]);
              $('#max_age').val(ui.values[1]);
            }
          });
          $('#slider_bench').slider({
            values:  [<%= @min_weight_bench %>,<%= @max_weight_bench %>],
            min: 0,
            max: 200,
            step: 5,
            range: true,
            animate: 'slow',
            slide: function(event, ui){
              $('#min_weight_bench').val(ui.values[0]);
              $('#max_weight_bench').val(ui.values[1]);
            }
          });

          $('#slider_full').slider({
            values:  [<%= @min_weight_full %>,<%= @max_weight_full %>],
            min: 0,
            max: 200,
            step: 5,
            range: true,
            animate: 'slow',
            slide: function(event, ui){
              $('#min_weight_full').val(ui.values[0]);
              $('#max_weight_full').val(ui.values[1]);
            }
          });

          $('#slider_ded').slider({
            values:  [<%= @min_weight_ded %>,<%= @max_weight_ded %>],
            min: 0,
            max: 200,
            step: 5,
            range: true,
            animate: 'slow',
            slide: function(event, ui){
              $('#min_weight_ded').val(ui.values[0]);
              $('#max_weight_ded').val(ui.values[1]);
            }
          });
          </script>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

              <%= hidden_field_tag :flag ,1%>
              <%= submit_tag '検索'%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%if @flag != nil%>
  <div class ="container">
   <div class="list-group">
    <a href="#" class="list-group-item active">検索結果　一覧</a>
      <% @profiles.each do |profile| %>
        <% if profile.user_id != current_user.id%>
          <a href="/profiles/<%= profile.id %>" class="list-group-item">
           <div class="row">

                <div class="col-sm-4">

                  <% if profile.sex == 'female'%>
                    <FONT color="#ff00ff">
                    <p><h2><%= profile.name %></h2></p>
                    </FONT>
                  <%else%>
                    <p><h2><%= profile.name %></h2></p>
                  <%end%>
                  <h4><%=profile.comment%></h4>
                  <table class="table table-inverse table-bordered">
                    <thead>
                      <tr>
                        <th>ベンチプレス</th>
                        <th>フルスクワット</th>
                        <th>デッドリフト</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <% if User.find(profile.user_id).muscle_diaries.where(diary_date: DateTime.now - 3.month...DateTime.now + 1.day).where(event_id: Event.find_by(event_name: 'ベンチプレス').id).maximum(:weight) != nil %>
                              <%= User.find(profile.user_id).muscle_diaries.where(diary_date: DateTime.now - 3.month...DateTime.now + 1.day).where(event_id: Event.find_by(event_name: 'ベンチプレス').id).maximum(:weight) %>
                          <%end%>
                        </td>
                        <td>
                          <% if User.find(profile.user_id).muscle_diaries.where(diary_date: DateTime.now - 3.month...DateTime.now + 1.day).where(event_id: Event.find_by(event_name: 'フルスクワット').id).maximum(:weight) != nil %>
                              <%= User.find(profile.user_id).muscle_diaries.where(diary_date: DateTime.now - 3.month...DateTime.now + 1.day).where(event_id: Event.find_by(event_name: 'フルスクワット').id).maximum(:weight) %>
                          <%end%>
                        </td>
                        <td>
                          <% if User.find(profile.user_id).muscle_diaries.where(diary_date: DateTime.now - 3.month...DateTime.now + 1.day).where(event_id: Event.find_by(event_name: 'デッドリフト').id).maximum(:weight) != nil %>
                              <%= User.find(profile.user_id).muscle_diaries.where(diary_date: DateTime.now - 3.month...DateTime.now + 1.day).where(event_id: Event.find_by(event_name: 'デッドリフト').id).maximum(:weight) %>
                          <%end%>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <% if profile.address != nil %>
                  <div class="col-sm-2">
                    <h4><%= profile.address %></h4>
                  </div>
                <%else%>
                  <div class="col-sm-2"><h4>未設定</h4></div>

                <%end%>
                <% if profile.birthday != nil %>
                  <div class="col-sm-2">
                    <h4><%= Time.zone.now.year - profile.birthday.year %>歳<h4>
                  </div>
                <%else%>
                  <div class="col-sm-2"><h4>未設定</h4></div>

                <%end%>
                <% if profile.muscle_id != nil %>
                  <div class="col-sm-2">
                    <h4><%= Muscle.find(profile.muscle_id).part %><h4>
                  </div>
                <%else%>
                  <div class="col-sm-2"><h4>未設定</h4></div>
                <%end%>

                <% if profile.image? %>
                  <div class="col-sm-2">
                    <%= image_tag profile.image.url, :size => '200x200', :class => 'img-responsive' %>
                  </div>
                <%else%>
                  <div class="col-sm-offset-2"></div>
                    <%= image_tag 'noimage.jpg', :size => '200x200' %>
                <% end %>

              </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
<%end%>
