<div class="panel panel-primary">
	<div class="panel-heading">
    <h1 class="panel-title"><%= Profile.find_by(user_id: @sent_userid).name%>さんとのメッセージ</h1>
	</div>
  <div class="panel-body">
		<% if Profile.find_by(user_id: @sent_userid).image? %>
			<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<%= image_tag Profile.find_by(user_id: @sent_userid).image.url, :size => '250x250', :class => 'img-responsive' %>
						</div>
						<div class="col-sm-offset-8"></div>
					</div>
				</div>
		<%end%>
     <div class="page">
      <%= render 'chat' %>
     </div>
      <%= paginate @messages %>
	  <h2>
		  <%= form_for @message do |message|%>
		  <span class="pull-right" ><%= message.text_field :message%></span>
		  <%= message.hidden_field :sent_userid, :value => current_user.id%>
		  <%= message.hidden_field :user_id, :value => @sent_userid %>
		  <span class="pull-right" ><%= message.submit "送信"%></span>
	  <% end %>
	  </h2>
  </div>
