<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="be CHICKEN BREAST">
  <title>筋トレ支援サイト「マッスルフォワード」</title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to "Muscle Forward", "/", class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="nav_targets">
        <ul class="nav navbar-nav">
        <!-- ドロップダウン -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "/", { :class => "list-group-item" } do %>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> ホーム
                <% end %>
              </li>
                <%= link_to "/profiles", { :class => "list-group-item" } do %>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> プロフィール
                <% end %>
              <li>
                <%= link_to "/chat", { :class => "list-group-item" } do %>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> メッセージ
                <% end %>
              </li>
              <li>
                <%= link_to "/search", { :class => "list-group-item" } do %>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 検索
                <% end %>
              </li>
              <li>
                <%= link_to "/ranking", { :class => "list-group-item" } do %>
                <span class="glyphicon glyphicon-king" aria-hidden="true"></span> ランキング
                <% end %>
              </li>
              <li>
                <%= link_to "/graph", { :class => "list-group-item" } do %>
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> データ
                <% end %>
              </li>
              <li>
                <%= link_to "/articles", { :class => "list-group-item" } do %>
                <span class="glyphicon glyphicon-education" aria-hidden="true"></span> 知識
                <% end %>
              </li>
              <li>
                <%= link_to "/users/edit", { :class => "list-group-item" } do %>
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 設定
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
             <li class="navbar-text">ようこそ <%= current_user.email %> さん</li>
             <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
             <li class="navbar-text">ようこそ ゲスト さん</li>
             <li><%= link_to "サインイン", new_user_session_path %></li>
             <li><%= link_to "Twitterでサインイン", user_twitter_omniauth_authorize_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg %>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
